<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sl.dao.datadictionary.DataDictionaryMapper">
 	<resultMap type="DataDictionary" id="dataDictionaryMap">
 		<id property="id" column="id" javaType="java.lang.Integer"/>
 		<result property="typeCode" column="typeCode" javaType="java.lang.String"/>
 		<result property="typeName" column="typeName" javaType="java.lang.String"/>
 		<result property="valueId" column="valueId" javaType="java.lang.Integer"/>
 		<result property="valueName" column="valueName" javaType="java.lang.String"/>
	</resultMap> 
	
	<select id="listDataDictionary" parameterType="dataDictionary" resultMap="dataDictionaryMap">
		SELECT id,typeCode,typeName,valueId,valueName FROM data_dictionary 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="typeCode != null">typeCode = #{typeCode}</if>
			<if test="typeName != null">and typeName = #{typeName}</if>
			<if test="valueId != null">and valueId = #{valueId}</if>
			<if test="valueName != null">and valueName = #{valueName}</if>
		</trim>
			ORDER BY valueId ASC	
	</select>
	<select id="listDataDictionariesNotIn" parameterType="dataDictionary" resultMap="dataDictionaryMap">
		SELECT * FROM data_dictionary WHERE  typeCode = #{typeName} AND 
		    typeCode NOT IN (SELECT typeCode FROM data_dictionary 
		        WHERE typeCode = #{typeCode})
	</select>
	
	<select id="listDataDictionariesCategory" parameterType="dataDictionary" resultMap="dataDictionaryMap">
	    SELECT * FROM data_dictionary GROUP BY typeCode ORDER BY id ASC
	</select>
	
	<select id="typeCodeOrValueIdIsExit" parameterType="dataDictionary" resultType="int">
	    select count(1) from data_dictionary
			<trim prefix="where" prefixOverrides="and | or">
				<if test="typeCode != null">
				  and typeCode = #{typeCode}
				</if>
				<if test="valueId != null">
				  and valueId = #{valueId}
				</if>
				<if test="id != null">
				  and id != #{id}
				</if>
			</trim>
	</select>
	
	<select id="maxValueId"  parameterType="dataDictionary" resultType="int">
		select max(valueId) from data_dictionary where typeCode = #{typeCode}
	</select>
	
	<insert id="saveDataDictionary" parameterType="dataDictionary">
	     insert into data_dictionary (typeCode,typeName,valueId,valueName) 
				values(#{typeCode},#{typeName},#{valueId},#{valueName})
	</insert>
	
	<update id="updateDataDictionary" parameterType="dataDictionary">
		update data_dictionary 
			 <set>
				 <if test="typeCode != null"> typeCode = #{typeCode},</if>
				 <if test="typeName != null"> typeName = #{typeName},</if>
				 <if test="valueId != null"> valueId = #{valueId},</if>
				 <if test="valueName != null"> valueName = #{valueName}</if>
		     </set>
		  	where id = #{id}
	</update>
	
	<update id="updateDataDictionarys" parameterType="dataDictionary">
			update data_dictionary set typeCode = #{typeCode},typeName = #{typeName} 
				where typeCode = #{valueName}
	</update>
	
	<delete id="removeDataDictionary" parameterType="dataDictionary">
		delete from data_dictionary 
		<trim prefix="where" prefixOverrides="and | or">
			<if test="id != null">
			 and id = #{id}
			</if>
			<if test="typeCode != null">
			 and typeCode = #{typeCode}
			</if>
		</trim>
	</delete>
</mapper>