<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 <mapper namespace="com.sl.dao.user.UserMapper">
 	<resultMap type="User" id="userMap">
 		<id property="id" column="id" javaType="java.lang.Integer"/>
 		<result property="userName" column="userName" javaType="java.lang.String"/>
 		<result property="loginCode" column="loginCode" javaType="java.lang.String"/>
        <result property="password" column="password" javaType="java.lang.String"/>
        <result property="payPwd" column="payPwd" javaType="java.lang.String"/>
        <result property="roleId" column="roleId" javaType="java.lang.Integer"/>
        <result property="gender" column="gender" javaType="java.lang.String"/>
        <result property="userTypeId" column="userTypeId" javaType="java.lang.Integer"/>
        <result property="userTypeName" column="userTypeName" javaType="java.lang.String"/>
        <result property="status" column="status" javaType="java.lang.Integer"/>
        <result property="referCode" column="referCode" javaType="java.lang.String"/>
        <result property="lastLoginTime" column="lastLoginTime" javaType="java.sql.Timestamp"/>
 		<result property="createdBy" column="createdBy" javaType="java.lang.String"/>
 		<result property="createdTime" column="createdTime" javaType="java.sql.Timestamp"/>
 		<result property="modifiedBy" column="modifiedBy" javaType="java.lang.String"/>
 		<result property="modifiedTime" column="modifiedTime" javaType="java.sql.Timestamp"/>
		<!-- 配置一对一关联查询,association标签 -->
 		<association property="role" javaType="Role">
 			<id property="id" column="id" javaType="java.lang.Integer"/>
 			<result property="roleName" column="roleName" javaType="java.lang.String"/>
 			<result property="createdTime" column="createdTime" javaType="java.sql.Timestamp"/>
 		</association>	 	
 	</resultMap>
 			
 	<select id="getLoginUser" parameterType="User" resultMap="userMap">
 		select u.*,r.roleName from sl_user u LEFT JOIN sl_role r ON u.roleId = r.id
 			where loginCode = #{loginCode} and password = #{password}
 	</select>
 	
 	<select id="loginCodeIsExit" resultType="int">
 		select count(*) from sl_user 
 			<trim prefix="where" prefixOverrides="and | or">
 				<if test="loginCode != null">loginCode = #{loginCode}</if>
 				<if test="id != null">id != #{id}</if>
 			</trim>
 	</select>
 	
 	<select id="totalCount" resultType="int" parameterType="User">
 		select count(*) from sl_user
 		<trim prefix="where" prefixOverrides="and | or">
 			<if test="loginCode != null">loginCode like CONCAT('%',#{loginCode},'%')</if>
 			<if test="userName != null">and userName like CONCAT('%',#{userName},'%')</if>
 			<if test="referCode != null">and referCode like CONCAT('%',#{referCode},'%')</if>
 			<if test="status != null">and status = #{status}</if>
 			<if test="roleId != null">and roleId = #{roleId}</if>
 		</trim>
 	</select>
 	
 	<select id="listUser" parameterType="User" resultMap="userMap">
 		SELECT u.* ,r.roleName FROM sl_user u LEFT JOIN sl_role r ON u.roleId = r.id
 		<trim prefix="where" prefixOverrides="and | or">
 			<if test="loginCode != null">loginCode like CONCAT('%',#{loginCode},'%')</if>
 			<if test="userName != null">and userName like CONCAT('%',#{userName},'%')</if>
 			<if test="referCode != null">and referCode like CONCAT('%',#{referCode},'%')</if>
 			<if test="status != null">and status = #{status}</if>
 			<if test="roleId != null">and roleId = #{roleId}</if>
 		</trim>
 		ORDER BY #{id} DESC LIMIT #{pageNo},#{pageSize}
 	</select>
 	
 	<select id="getUserById" parameterType="User" resultMap="userMap">
 		SELECT u.* ,r.roleName FROM sl_user u LEFT JOIN sl_role r ON u.roleId = r.id
 		<where>
 			<if test="id != null">u.id = #{id}</if>
 		</where>
 	</select>
 	
 	<insert id="saveUser" parameterType="User" > 
 		insert into sl_user(loginCode,password,createdBy,createdTime,payPwd,referCode,roleId,userName,userTypeName) 
 			values(#{loginCode},#{password},#{createdBy},#{createdTime},#{payPwd},#{referCode},#{roleId},#{userName},#{userTypeName})
 	</insert>
 	
 	<update id="updateUser" parameterType="User" >
 		update sl_user 
 			<set>
 				<if test="loginCode != null">loginCode = #{loginCode},</if>
 				<if test="lastLoginTime != null">lastLoginTime = #{lastLoginTime},</if>
 				<if test="password != null">password = #{password},</if>
 				<if test="status != null">status = #{status},</if>
 			</set>
 			where id = #{id}
 	</update>
 	<delete id="removeUser" parameterType="User">
 		DELETE FROM sl_user WHERE id = #{id}
 	</delete>	
 </mapper>	